.header-1 {
  background-color: lightgray;
  width: auto;
  height: 130px;
  box-sizing: content-box;
  margin-bottom: 30px;
}
.header-1 h1 {
  padding-left: 200px;
  padding-top: 40px;
}
.header-1 h4 {
  color: grey;
  padding-left: 200px;
  margin-top: -20px;
}
.header-2 {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  margin-left: 200px;
  width: 300px;
  text-decoration: none;
}
.header-2 a {
  color: black;
  text-decoration: none;
}
.header-2 a:hover {
  color: lightblue;
}
.about a {
  color: gray;
  text-decoration: none;
}
.image img {
  width: 100%;
  padding-top: 20px;
}
.contents-up {
  display: flex;
  width: auto;
  padding-top: 30px;
}
.contents-up p {
  text-align: justify;
}
.content-upper-left {
  padding: 0px 120px;
}
.content-upper-right {
  padding-right: 190px;
}

.contents-down {
  display: flex;
  justify-content: space-between;
}
.content-lower-left {
  padding-left: 120px;
}
.content-lower-right {
  padding-right: 290px;
  width: 600px;
}
.logos img {
  width: 90px;
  height: 90px;
  margin: 15px;
}

footer {
  background-color: rgb(106, 40, 150);
  margin-top: 40px;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.columns {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}
iframe {
  width: 200px;
  height: 200px;
}
.titles {
  padding-bottom: 10px;
  font-size: 1.3em;
}
.column1 {
  line-height: 1.5em;
}
.column2 {
  width: 200px;
  line-height: 1.5em;
}
.column3 li {
  text-decoration: none;
  list-style: none;
  line-height: 3em;
}
hr {
  border-bottom: rgb(157, 89, 224);
}
.column4 li {
  list-style: none;
  line-height: 3em;
}
.column4 li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 680px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .header-1 {
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .header-1 h1 {
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .header-1 h4 {
    padding-left: 10px;
  }
  .header-2 {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }
  .main {
    font-size: smaller;
    display: flex;
    flex-direction: column;
  }
  .contents-up {
    display: flex;
    flex-direction: column;
  }
  .content-upper-left,
  .content-upper-right {
    padding: 0px;
  }
  .contents-down {
    display: flex;
    flex-direction: column;
  }
  .content-lower-left {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

    margin-right: 100px;
    width: 100%;
    height: 100px;
  }

  .content-lower-right {
    width: 100%;
    margin-right: 0px;
  }
  .logos img {
    width: 70px;
    height: 70px;
  }
  div.logos {
    display: flex;
    flex-wrap: wrap;
  }

  .columns {
    display: flex;
    flex-direction: column;
  }
}
